Just starting to think about how I can do this.

# Collecting Stats From Previously Gathered Data

### Importing Libraries

In [1]:
import pandas as pd
import os
import re

In [25]:
# def getTeamStats(filePath, teamFiles):
#     TeamPD = pd.DataFrame()
#     yearArr = [2018, 2019, 2020, 2021, 2022, 2023]   
#     for i in range(len(teamFiles)):
#         currPD= pd.read_csv(f"{filePath}/{teamFiles[i]}")
#         if re.search("TeamStats", teamFiles):
#             currPD.columns = pd.MultiIndex.from_product([[yearArr[i]], currPD.columns])
#     return currPD

def returnFullSeasonStats(teamName):
    teamPDStats = pd.DataFrame()
    teamPDInfo = pd.DataFrame()
    dirList = os.listdir(f"Stats/{teamName}/")
    for file in dirList:
        if "Stats" in file:
            curr = pd.read_csv(f"Stats/{teamName}/{file}")
            teamPDStats = pd.concat([teamPDStats, curr],axis = 0)
        else:
            curr = pd.read_csv(f"Stats/{teamName}/{file}")
            teamPDInfo = pd.concat([teamPDInfo, curr],axis = 0)

    return teamPDStats, teamPDInfo

In [26]:
#directory where Stats was stored
directory = 'Stats/'

yearArr = [2018, 2019, 2020, 2021, 2022, 2023]

#array of each directory within stats
TeamNamesArr= os.listdir(directory)

for team in TeamNamesArr:
    if team == ".DS_Store":
        continue
    currFullSeasonStats, currFullSeasonInfo = returnFullSeasonStats(team)
    break

In [27]:
currFullSeasonStats

,Unnamed: 0,Unnamed: 1,Game0,Game1,Game2,Game3,Game4,Game5,Game6,Game7,Game8,Game9,Game10,Game11,Game12,Game13,Game14,Game15,Game16
0,DEN,Cmp-Att-Yd-TD-INT,27-34-177-2-0,18-32-308-3-1,23-38-306-1-1,21-28-223-3-0,20-31-196-2-0,13-22-95-1-2,20-29-194-1-0,12-19-114-3-0,24-29-193-2-0,27-35-259-1-0,13-22-134-1-0,15-26-186-1-3,21-33-224-2-1,18-32-223-1-0,25-37-238-2-0,20-32-224-1-0,20-34-272-1-1
1,DEN,DEN Score,16,33,20,31,21,8,19,24,24,21,29,17,24,17,23,16,14
2,DEN,First Downs,22,21,16,17,18,14,18,19,19,13,17,16,19,20,19,16,17
3,DEN,Fourth Down Conv.,0-0,2-2,0-1,0-0,0-0,0-1,0-1,0-1,1-1,1-1,0-1,3-3,0-0,2-2,1-2,1-1,2-3
4,DEN,Fumbles-Lost,0-0,1-1,3-2,0-0,4-3,1-1,0-0,2-1,1-1,1-0,2-1,0-0,0-0,1-1,4-2,0-0,1-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,DEN,Sacked-Yards,1-5,1-5,3-19,4-19,4-33,2-25,2-11,5-40,2-17,0-0,2-13,2-8,2-15,2-19,1-2,1-4,NaN
23,DEN,Third Down Conv.,4-12,8-16,6-14,2-11,4-14,3-10,5-13,4-12,5-14,3-10,3-11,5-13,2-15,5-14,6-14,4-14,NaN
24,DEN,Time of Possession,35:08,27:04,29:46,24:58,31:06,24:50,30:49,32:41,27:35,22:11,25:00,28:40,29:19,32:42,29:52,31:48,NaN
25,DEN,Total Yards,470,385,293,385,436,357,309,411,348,325,308,361,274,270,300,370,NaN
26,DEN,Turnovers,3,1,1,1,1,1,1,2,1,0,0,1,0,2,2,4,NaN